$spacer: 10px;

$colorFont : #222222;
$colorFontLight : #6e6e6e;
$colorPrimary : #139652;
$colorWhite : #fff;
$colorBack : #1e1e1e;
$colorBG : #f7f8f7;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);